<h2>Editar Cuenta</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :name%>

  <%= f.input :email%>

  <%= f.input :password, hint: 'Si no lo desea cambiar, porfavor dejar en blanco.', :label => 'Nueva Contrase単a' %>

  <%= f.input :password_confirmation, :label => 'Confirmacion Contrase単a'%>

  <%= f.input :current_password, hint: 'Necesitamos su contrase単a actual para confirmar los cambios.', :label => 'Contrase単a Actual' %>

  <%= f.button :submit, :value => 'Guardar Cambios' %>
<% end %>
