<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operator.errors.count, "error") %> Errores:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>

  <% if current_user.has_role? "AdminOperador" %>

    <div class="field">
      <%= f.label 'Rol' %><br />
      <%= f.input :role_ids, :collection => Role.not_administrable, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: current_user.role_ids.first %>
    </div>

  <% end %>

  <% if current_user.has_role? "Administrador" %>

    <div class="field">
      <%= f.label 'Rol' %><br />
      <%= f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: Role.first.id %>
    </div>

    <div class="field">
      <%= f.label 'Operador' %><br />
      <%= f.input :operator_id, :collection => Operator.all, :as => :select, :label_method => lambda {|t| t.name}, :label => false, :item_wrapper_class => 'inline', checked: Role.first.id %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>