<%= form_for @data_file, :html => {:multipart => true} do |f| %>
<% if @data_file.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@data_file.errors.count, "error") %> prohibited this operator from being saved:</h2>

    <ul>
    <% @data_file.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= f.file_field :file %>
  </p>

	<p><%= f.submit %></p>
<% end %>
