<h1>Listing create_cities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th>Population</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @create_cities.each do |create_city| %>
  <tr>
    <td><%= create_city.name %></td>
    <td><%= create_city.state %></td>
    <td><%= create_city.latitude %></td>
    <td><%= create_city.longitude %></td>
    <td><%= create_city.gmaps %></td>
    <td><%= create_city.population %></td>
    <td><%= link_to 'Show', create_city %></td>
    <td><%= link_to 'Edit', edit_create_city_path(create_city) %></td>
    <td><%= link_to 'Destroy', create_city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Create city', new_create_city_path %>
