<h4><%= bus['patente']  %></h4>
<p><%= time_dif %></p>
<p>Velocidad Instantanea:<%= bus['velocidad_instantanea']  %></p>
<p>Sentido: <%= bus['sentido']  %></p>
<p>Distancia Origen: <%= bus['distancia_origen']  %></p>